body {
    background-color: rgba(33, 37, 41, 0.97);
    color: #fff;
    font-family: 'Stardos Stencil', cursive;
    padding-top: 50px;
}

.navbar {
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid #000;
}

.navbar-brand {
    font-family: 'Saira Stencil One', cursive;
    font-size: 1.8rem;
}

span {
    color: #ffd700;
}

.navbar-nav > li > a {
    font-size: 1.2rem;
    margin: 0 .5rem;
}

.navbar-nav > li > a:hover {
    border-bottom: 3px solid #ffd700;
}

.searchForm {
    color: #fff;
}

#searchInput {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffd700;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    color: #fff;
    caret-color: #ffd700;
}

.jumbotron {
    background: url("../img/OurMission.png") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 800px;
}

#projectStart {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 4rem 0 0;
    font-size: 3.9rem;
}

.projectHeader {
    margin: 2rem 0;
}

#tellUs {
    margin-top: 5rem;
}

.input-group {
    display: flex;
    justify-content: center;
    margin: 3rem 2rem 3rem 0;
}

.input-group > .row > .col > input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffd700;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    color: #fff;
    caret-color: #ffd700;
}

.projectChoice {
    justify-content: center;
}

.projectChoice > div {
    width: 175px;
    height: 150px;
    /*border: .02rem solid #ffd700;*/
    margin: 2rem;
    justify-content: center;
    border-image:
            linear-gradient(
                    to bottom,
                    #ffd700,
                    rgba(0, 0, 0, 0)
            ) 1 100%;
}

.projectChoice > div:hover {
    background: rgba(105,105,105, 0.2);
    border: none;
    border-bottom: 1px solid #ffd700;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.projectChoice > div > i {
    font-size: 3rem;
    color: #ffd700;
}

.projectChoice > div > div {
    font-size: 1.3rem;
}