<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials.html :: head">
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    <div th:replace="partials.html :: navbar"></div>

    <div id="carouselExampleCaptions" class="carousel slide bg" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../img/OurMission.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../img/OurMission.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../img/OurMission.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

<!--    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">-->
<!--        <div class="carousel-inner bg">-->
<!--            <div class="carousel-item active">-->
<!--                <img src="../img/OurMission.png" class="d-block w-100" alt="...">-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--                <img src="../img/OurMission.png" class="d-block w-100" alt="...">-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--                <img src="../img/OurMission.png" class="d-block w-100" alt="...">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="jumbotron jumbotron-fluid text-center">

        <p class = "location-name"> University of Illinios Urbana-Champaign</p>
        <p class ="building-name">ECE Engineering Building</p>
        <div class = "menu-links"><a href = "#" class = "btn btn-primary btn-large">Online Editing</a></div>
        <div class = "menu-links"><a href = "#" class = "btn btn-primary btn-large">Building FCA Query</a></div>
        <div class = "menu-links"><a href = "#" class = "btn btn-primary btn-large">Chart FCA Query</a></div>
        <div class = "menu-links"><a href = "#" class = "btn btn-primary btn-large">Facility Document Management CP</a></div>
        <div class = "menu-links"><a href = "#" class = "btn btn-primary btn-large">Facility Document Management Query</a></div>
    </div>

    <section id="services">
        <div class="container">
            <h2 class="text-center sectionHeader">Our Services</h2>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="card service-card">
                        <div class="card-body">
                            <div class="btn btn-dark"><i class="bi bi-star-half"></i><div>Lorem</div></div>
                            <ul class="text-center mt-3">
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card service-card">
                        <div class="card-body">
                            <div class="btn btn-dark"><i class="bi bi-laptop"></i><div>Ipsum</div></div>
                            <ul class="text-center mt-3">
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card service-card">
                        <div class="card-body">
                            <div class="btn btn-dark"><i class="bi bi-phone"></i><div>Lorem</div></div>
                            <ul class="text-center mt-3">
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card service-card">
                        <div class="card-body">
                            <div class="btn btn-dark"><i class="bi bi-megaphone"></i><div>Ipsum</div></div>
                            <ul class="text-center mt-3">
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="container3">
        <div class="container">
            <h2 class="text-center sectionHeader">Our Services</h2>
        </div>
    </section>







    <div th:replace="partials.html :: scripts"></div>
</body>
</html>