<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials.html :: head">
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    <div th:replace="partials.html :: navbar"></div>
    <div class="jumbotron jumbotron-fluid"><div class="container"></div></div>
    <section>
        <div class="container" id="services">
            <h2 class="text-center sectionHeader">Our Services</h2>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="card service-card">
                        <div class="card-body">
                            <div class="btn btn-dark"><i class="bi bi-star-half"></i><div>Lorem</div></div>
                            <ul class="text-center mt-3">
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card service-card">
                        <div class="card-body">
                            <div class="btn btn-dark"><i class="bi bi-laptop"></i><div>Ipsum</div></div>
                            <ul class="text-center mt-3">
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card service-card">
                        <div class="card-body">
                            <div class="btn btn-dark"><i class="bi bi-phone"></i><div>Lorem</div></div>
                            <ul class="text-center mt-3">
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card service-card">
                        <div class="card-body">
                            <div class="btn btn-dark"><i class="bi bi-megaphone"></i><div>Ipsum</div></div>
                            <ul class="text-center mt-3">
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                                <li>Lorem Ipsum</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="container3">
        <div class="container">
            <h2 class="text-center sectionHeader">Our Services</h2>
        </div>
    </section>








</body>
</html>