<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Head Fragment -->
    <head th:fragment="head">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Stardos+Stencil&display=swap" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <!-- Bootstrap Icons -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/stylesheet.css">

        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous" async></script>


        <!-- Custom JS -->
        <script src="../js/index.js" async></script>
    </head>

<!-- NavBar Fragment -->
    <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><span>&#10094;</span>Code Black <span id="fSlash">&#47;</span><span>&#10095;</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/}">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Featured Projects </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" >Team </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-auto" th:href="@{/start-a-project}">Start A Project</a>
                        </li>
                    </ul>
                    <form class="d-flex searchForm">
                        <input class="form-control me-2" id="searchInput" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-dark" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                </div>
            </div>
        </nav>
    </div>

<!-- JS Scripts Fragment -->
    <div th:fragment="scripts">
        <!-- jquery CDN -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </div>


</html>